* {
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: purple;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none; 
}

#preperation {
    text-align: justify;
}

#rm-menu {
    background-color: black;
    color:aliceblue;
}

#jin-menu {
    background-color: pink;
}

#suga-menu {
    background-color: white;
    color: black;
}

#hobi-menu {
    background-color: #709f60;
}

#jimin-menu {
    background-color: #809fff;
}

#jk-menu {
    background-color: #b81414;
    color: white;
}
/*
This is how i centered everything until i realized i'll just center everything 
h1, h2 {
    text-align: center;
}
#footer {
    text-align: center;
}
#main-menu {
    text-align: center;
}
*/